.edit-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2vh;
}
.edit-box > input {
    border:2px solid #3b7570;
    border-radius: 10px;
    font-size: 1.3rem;
    color:#3b7570;
    font-weight:600;
    height:2rem;
    margin:0 5%;
    padding:0.5% 1%;
}

.edit-box > button{
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight:700;
    background-color: #73BFB8;
    max-width:46px;
    min-width:fit-content;
    align-self: center;
    padding: 2% 5%;
    color:#235853;
    border:2px solid  rgba(223, 227, 231, 0.525);
    transition: transform 0.3 ease-in-out;
}

.edit-box > button:hover{
    transform:scale(0.9);
    background-color: #61a59f;
}
