.home-section{
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    gap:1.2vh;
    min-height:88vh;
    padding-bottom:5%;
   
}
.item-total-title{
    font-size:1.5rem;
    font-weight:700;
    margin:3% 5% 0 5%;
   
}
.item-container {
    background-color: #a8d4ea;
    display:flex;
    flex-direction: column;
    padding:5%;
    margin:0 5%;
    border-radius:10px;
    min-width: fit-content;
}
.item-text{
    color:#3b7570;
    font-size:1.5rem;
}
.item-text.line-through {
    text-decoration: line-through;
    
}
.item-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.item-status >input{
    cursor: pointer;
    height:1.1rem;
    width: 1.1rem;
}

.item-edit-button{
    color:#1e42a6;
    cursor: pointer;
}

.item-delete-button{
    color:rgb(172, 1, 1);
    cursor:pointer;
}

@media (min-width:760px){
    .item-control{
        
        justify-content:flex-start;
        gap:3%;
    }
}
